.wrap-div {
    height: 100%;

    /*animation-delay: 2s;*/
}

.sidebar {
    background: #34313a;
    height: 100%;
    color: #9e98a9;
    width: 250px;
    justify-content: center;
    z-index: 5;
}

.side-header {
    height: 40px;
    background: #3b3841;
    color: #6e6976;
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 40px;
    font-size: 15px;
}

.side-item {
    color: #6e6976;
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
    line-height: 40px;
}

.header {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    left: 0px;
    background: #e9eaeb;
    z-index: 1;
    -webkit-animation: slide 0.5s alternate;
    animation: slide 0.5s alternate;
}

.header-title {
    color: #878787;
    text-align: center;
    display: flex;
    margin: auto;
}

.header-icon {
    height: 40px;
    width: 40px;
    background: dodgerblue;
    margin-right: 20px;
}

.header-sidebar, .header-arrow, .header-close,
.header-send, .header-cancel, .header-icon {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.header-arrow, .header-close, .header-sidebar {
    margin-left: 20px;
}

.header-send, .header-createmsg, .header-cancel {
    margin-right: 20px;
}

.header-createmsg {
    display: flex;
    margin-top: auto;
    margin-bottom: auto
}

.header-cancel, .header-arrow, .header-close, .header-sidebar {
    width: 65px;
    height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fcfcfc;
    color: #adadad;
    line-height: 40px;
    text-align: center;
    justify-content: center;
}

.header-send, .header-createmsg {
    width: 65px;
    height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #19b998;
    color: white;
    line-height: 40px;
    text-align: center;
    justify-content: center;
}

.header-dropdown {
    width: 100%;
    height: 60px;
    background: black;
    opacity: .85;
    color: white;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 70px;
    z-index: 0;
}

.header-col2 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.footer {
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* left: 0px; */
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-pack: justify; */
    /* -webkit-justify-content: space-between; */
    -ms-flex-pack: justify;
    justify-content: flex-end;
    /* left: 0px; */
    background: #e9eaeb;
}

.footer-icon {
    height: 50px;
    width: 50px;
    /* justify-content: center; */
    /* flex: 1; */
    margin-right: 20px;
    /* margin: auto; */
    margin-top: auto;
    margin-bottom: auto;
    /* float: right; */
    background: grey;
}

.search {
    height: 50px;
    border-bottom: solid 2px #e9eaeb;
    background: #f9f9f9;
    color: #e9eaeb;
    display: flex;
}

.search:focus, .search-input:focus, .create-input:focus,
.contact-input:focus, .msg-previous:focus {
    outline: none;
}

.search-icon {
    height: 30px;
    width: 30px;
    background: #e9eaeb;
    margin-left: 20px;
    float: left;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.search-close {
    height: 30px;
    width: 30px;
    background: #e9eaeb;
    margin-right: 20px;
    float: right;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    margin-left: auto;
    position: relative;
}

.search-input {
    float: left;
    background: transparent;
    flex: 1;
    min-width: 205px;
    height: 100%;
    display: flex;
    color: #878787;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    font-size: 16px;
    border: none;
}

.msg-read {
    height: 30px;
    min-width: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    float: left;
    display: flex;
    background: #19b998;
}

.msg-inbox-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    float: left;
    min-width: 286px;
    flex: 1;
}

.msg-row1 {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.msg-from {
    display: flex;
    color: #000;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
}

.msg-time {
    color: dodgerblue;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    display: flex;
    position: relative;
    margin-left: auto;
}

.msg-subject {
    color: #000;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
}

.msg-text {
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
}

.inbox-delete {
    position: absolute;
    right: 20px;
    height: 50px;
    width: 85px;
    background: #f13344;
    color: white;
    line-height: 50px;
    box-shadow: 0px 0px 10px 13px white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: auto;
    text-align: center;
}

.ViewAttach, .AttachPhoto, .NewMsg, .FwdMsg, .OpenMsg,
.MoveMsg, .Preview, .ReplyMsg, .ViewAttach, .Inbox {
    height: 100%;
    position: relative;
    -webkit-animation: slide 0.5s alternate;
    animation: slide 0.5s alternate;
}

.Attachment {
    height: 67%;
    background: dodgerblue;
    min-height: 73%;
    margin-top: 20px;
    margin-bottom: 90px;
    margin-left: 20px;
    background: dodgerblue;
    margin-right: 20px;
}

.Inbox {
    position: relative;
    height: 100%;
}

.Inbox-content {
    position: relative;
    top: 70px;
    z-index: 0;
}

.create-front {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: darkgrey;
    float: left;
    font-size: 18px;
}

.create-input {
    float: left;
    background: transparent;
    min-width: 150px;
    flex: 1;
    display: flex;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-size: 16px;
    border: none;
}

.attach {
    float: right;
    display: flex;
    margin-right: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.Attachment, .OpenMsg-content, .NewMsg-content, .ReplyMsg-content, .photo-grid, .preview-image {
    position: relative;
    top: 70px;
    z-index: 0;
}

.inbox-message {
    height: 90px;
    width: 100%;
    border-bottom: solid 2px #e9eaeb;
    display: flex;
}

.contact-input {
    max-width: 150px;
    float: left;
    background: transparent;
    display: flex;
    margin-top: auto;
    flex:1;
    margin-bottom: auto;
    margin-left: 20px;
    font-size: 16px;
    border: none;
}

.contact-chip {
    min-width: 90px;
    height: 40px;
    line-height: 40px;
    justify-content: center;
    font-size: 16px;
    border-radius: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    margin-left: 10px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    background: dodgerblue;
}

.msg-row {
    height: 50px;
    width: 100%;
    border-bottom: solid 2px #e9eaeb;
    justify-content: flex-start;
    display: flex;
}

.msg-previous {
    width: 90%;
    border: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 300px;
    resize: none;
    font-size: 16px;
    margin: 20px
}

.msg-contact-item {
    height: 60px;
    display: flex;
    background: #f2f2f2;
    border-bottom: solid 1px #e9eaeb;

}

.msg-contacts {
    height: 120px;
    border-bottom: solid 2px #e9eaeb;
}

.msg-contact-icon {
    height: 50px;
    width: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    background: dodgerblue;
    display: flex;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.msg-contact-col2 {
    font-size: 16px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.msg-contact-name {
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.msg-contact-email {
    font-size: 14px;
    line-height: 100%;
    height: 50%;
}

.photo-grid-item {
    height: 90px;
    width: 21%;
    float: left;
    margin: 2%;
}

.preview-content {
    height: 500px;
    width: 80%;
    background: blue;
    margin: 10%;
}

.ViewAttach {
    height: 100%;
}

.NewMsg-attachment {
    height: 90px;
    width: 100%;
    margin-left: 0;
    border-bottom: solid 1px #e9eaeb;
    /* background: -webkit-linear-gradient(315deg, #eeeeee, white); */
    /* background: linear-gradient(135deg, #eeeeee, white); */
    margin-right: auto;
    display: flex;
    /* border-radius: 5px; */
}

.attached-pic {
    height: 80%;
    width: 20%;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    background: blue;

}

.attached-col2 {
    margin-left: 20px;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.attach-row {
    text-align: left;
    font-size: 16px;
}

.attach-x {
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.dropdown-div {
    margin-top: auto;
    margin-bottom: auto;
}

.dropdown-icon {
    height: 30px;
    width: 30px;
}

.dropdown-text {
    font-size: 16px;
}

.subject-line {
    height: 30px;
    border-bottom: solid 2px #e9eaeb;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}

.open-message {
    border-bottom: solid 2px #e9eaeb;
    height: 100px;
    display: flex;
}

.open-message-full {
    border-bottom: solid 2px #e9eaeb;
    height: 220px;
}

.open-icon {
    height: 70px;
    width: 70px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    background: dodgerblue;
    border-radius: 50%;
}

.open-col2 {
    margin-left: 10px;
    margin-right: 20px;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.open-row1 {
    display: flex;
    justify-content: space-between;
}

.open-name {
    font-size: 16px;
    color: #7a7a7a;
}

.open-time {
    font-size: 16px;
    color: #6d6e6f;
}

.open-text {
    font-size: 15px;
    color: #7a7a7a;
}

.open-attachcnt {
    height: 30px;
    line-height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
    padding-left: 20px;
    border-bottom: solid 2px #e9eaeb;
    color: #7a7a7a;
}

.open-attachment {
    height: 90px;
    border-bottom: solid 2px #e9eaeb;
    color: #7a7a7a;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.attach-icon {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    height: 50px;
    width: 50px;
    background: #1bbd9e;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.attach-text {
    color: dodgerblue;
    font-size: 25px;
    flex: 1;
    margin-bottom: auto;
    margin-left: 10px;
    font-weight: bold;
    margin-top: auto;
    margin-right: 20px;
}

.open-action-row {
    height: 90px;
    display: flex;
    border-bottom: solid 2px #e9eaeb;
}

.open-action-reply, .open-action-fwd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-top: 30px;
    justify-content: center;
    text-align: center;
    border-right: 1px #040404 solid;
}

.open-full-row1 {
    display: flex;
    margin-top: 15px;
}

.open-full-row-2 {
    height: 80px;
    justify-content: center;
    /* flex: 1; */
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.open-reply {
    font-size: 16px;
    line-height: 16px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.open-other {
    font-size: 14px;
}

@-webkit-keyframes slide {
    0% {

        margin-left: 100%;
    }
    100% {
        margin-left: 0%;
    }
}

@keyframes slide {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: 0%;
    }
}